<div class="container text-center mt-5">
    <!-- Add a Logo -->
    <img src="/images/employee-performance.svg" alt="Logo" height="100" class="mb-4" />

    <!-- Heading -->
    <h1 class="mb-3">Welcome to the Employee Review System</h1>

    <!-- Description -->
    <p class="lead mb-4">An efficient way to manage employee performance reviews.</p>

    <!-- Buttons (Side by Side, Vertically Aligned on Small Screens) -->
    <div class="d-flex justify-content-center">
        <div class="btn-group-vertical" role="group">
            <a href="/users/sign-in" class="btn btn-dark btn-block px-4 mb-3">Log into existing account</a>
            <a href="/users/sign-up" class="btn btn-light border-dark btn-block px-4">Create account</a>
        </div>
    </div>
</div>
