<div class="container text-center mt-5">
    <h1>Welcome to the Employee Review System</h1>
    <p class="lead">An efficient way to manage employee performance reviews.</p>
    <a href="/users/sign-in" class="btn btn-primary mx-2">Login</a>
    <a href="/users/sign-up" class="btn btn-success mx-2">Sign up</a>
</div>